.hg
.hg/*
.hgignore
tags
TAGS
cscope.out
*.orig
samples
samples/*
libpeanut.a
.DS_Store
._*

peanut
peanut.exe
*.o
peanut.output
peanut.tab.h
peanut.tab.c
lex.yy.c
*.swp
*.bak

hash_test
world_test


